@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap");

body {
  margin: 0;
  font-family: "Noto Sans JP", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;

  height: 100vh;
  min-height: 100vh;
  background: linear-gradient(#fff, #3b5363);
}

@media screen and (min-width: 481px) {
  body {
    min-width: 1060px;
    min-height: 860px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  width: 100%;
}
